<section class=" promo-block promo-block--mheight-600 " id="promo_image">
  <div class="container  overlay__inner image-center">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <h1 class="display-4 top-font">Top画面</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<p class="mark"><span>こんにちは</span></p>
<%= link_to "戻る",root_path %>