<footer id='footer' class='footer-bottom'>
  <div class='container-fluid'>
    <div class='row justify-content-end mr-1'>
      <div class='copyright '>
        <p>Copyright © 2019. Ryoma</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <%= debug(params)  %>
    </div>
  </div>
  <div class="text-center">
    <%= link_to "戻る",root_path %>
  </div>
</footer>