<section id="animation-java">
  <div class="item">
    <div class="animate-title-java">Start where you are.</div>
  </div>
  <div class="item">
    <div class="animate-title-java">Start where you are.</div>
  </div>
  <div class="item">
    <div class="animate-title-java">Start where you are.</div>
  </div>
</section>