<section id="spinner">
  <div id='container'>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="rect">
  </div>
  <div>
    <button onclick="document.querySelector('.rect').classList.toggle('paused')">Pause</button>
  </div>
  <div id="various-buttons">
    <div class="item">
      <h2>演習</h2>
      <p>try.scssを編集しよう</p>
    </div>
    <div class="item">
      <h2>演習</h2>
      <p>try.scssを編集しよう</p>
      <div class="spinner"></div>
      <div class="double-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="rect-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</section>